.style{
    background-color: bisque;
}

h1{
    font-style: bold;
    text-align: center;
}
h5{
    margin:0px;
    padding:6px;
    display:inline-block;
}
a{
    width: 30%;
}
.btn{
    /* background-color: black; */
    color:black;
    margin: 10px 10px;
    padding: 10px 10px;
    /* //text-align: center; */
    /* padding:4px 25px; */
    text-decoration: none;
    font-size: medium;
    font-style: bold;
    /* width:auto;*/
}
.container{
    margin:0px;
    padding:6px;
    display:block;
    row-gap: 10px;
    /* text-align:center; */
}

.container2{
    margin:15px;
    padding:5px;
    display:inline-block;
    row-gap: 10px;
    /* text-align:center; */
}

.btn2{
    border-width: 2px;
    border-radius: 0px;
    background-color:white;
    border-style: groove;
    border-color:1px solid dodgerblue;
    border-radius: 5px;
    color:blue;
    margin: 10px 10px;
    padding: 10px 10px;
    /* //text-align: center; */
    /* padding:4px 25px; */
    text-decoration: none;
    font-size: medium;
    font-style: italic;
    /* width:auto;*/
}

.btn2:hover{
    background-color: lightblue;
    transition: all .4s ease-in-out;
}
.container3{
    text-align:center;
}